form {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F6D479;
  display: flex;
  justify-content: space-around;
  align-content: stretch;
}

form div {
  background-color: #FFC253;
  padding: 15px;
}

.boton {
  height: 100px;
}

.razas {
  width: 200px;
}

a.animal {
  margin: 15px;
  width: 300px;
  height: 200px;
}

a.animal:hover {
  color: #505050;
}

div.img {
  display: table;
  margin-bottom: 40px;
  margin-top: 20px;
}

/*Diferenciar el animal seleccionado*/
div.img:hover {
  transform: translate(0px, -30px);
}

div.img img {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

div.img span {
  font-size: 11px;
  display: table-row;
  background: #F6D479;
  font-style: italic;
  padding: 5px;
  text-align: center;
}

body h1 {
  padding-top: 40px;
  column-count: 1;
}

.animales {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 2000px) and (orientation: portrait) {


}