.body {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#nombre {
  padding-bottom: 40px;
}

.datos {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.datosIzq {
  grid-column: 1/ 5;
}

.datosDer {
  grid-column: 6/ 10;
}

.mitad {
  grid-column: 1/ 5;
}

#imagen, #foto {
  grid-column: 6/ 12;
  width: 400px;
  height: 300px;
  object-fit: contain;
}

.boton {
  height: 40px;
  background-color: #F6D479;
  margin-top: 30px;
  float: right;
}

form a:hover {
  color: #922B21;
}

@media screen and (max-width: 2000px) and (orientation: portrait) {
  body div, .mitad, .body {
    display: block;
  }

  #imagen {
    display: inline-block;
  }

  #foto {
    width: auto;
    height: auto;
    object-fit: fill;
  }

  .cajaboton {
    margin-top: 30px;
  }
}