.body {
  padding-top: 20px;
}

.body div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.body div img {
  height: 40%;
  width: 40%;
}

.mitad {
  flex-direction: column;
}

.boton {
  height: 40px;
  background-color: #F6D479;
  margin-top: 30px;
  float: right;
}

form a:hover {
  color: #505050;
}

@media screen and (max-width: 2000px) and (orientation: portrait) {
  .body div {
    display: block;
  }
}