.body {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#nombre {
  padding-bottom: 40px;
}

.datos {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.datosIzq {
  grid-column: 1/span 5;
}

.datosDer {
  grid-column: 6/span 10;
}

.mitad {
  grid-column: 1/span 8;
}

.imagen {
  grid-column: 9/span 12;
}

.boton {
  height: 40px;
  background-color: #F6D479;
  margin-top: 30px;
  float: right;
}

form a:hover {
  color: #922B21;
}

@media screen and (max-width: 2000px) and (orientation: portrait) {
  .body div {
    display: block;
  }
}