body{
    background-color: #EDEDF5;
}

ul li{
    display: inline;
    list-style-type: none;
    color: black;
    font-family: Coolvetica;
    padding-right: 10px;
}

.adoptar{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}