.btn,
.btn:hover,
.btn:active {
    border-radius: 0%;
    background-color: #ffd377;
    color: black;
}


#map {

    height: 350px;
    width: 100%;


}



h3{
    text-align:center
}

#textarea{
    margin: 1%;
}

#boton{
    margin: 1%;
}

#somos{
    text-align: left;
}

form{

    float: right;
}

@media (max-width: 1575px) {

    #somos{
        width: 100%;
    }

    #formulario{
        width: 100%;
    }

}

@media (max-width: 1277px) {

    #somos{
        width: 100%;
    }

    #formulario{
        width: 100%;
    }

}
