/*Body*/
body {
  background-color: #EDEDF5;
  margin-bottom: 40px;
  font-family: "Helvetica";
}

h1, header strong {
  font-family: "Coolvetica";
}

a:link, a:visited {
  color: black;
}

a:hover, a:active {
  color: #F6D479;
}


/*Footer*/
footer {
  background-color: #FFC253;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}

@keyframes girando {
  from { transform: rotateY(0deg);    }
  to   { transform: rotateY(-360deg); }
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);

  animation-name: girando;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  transform-style: preserve-3d;
}

.social {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  height: 30px;
  width: 30px;
}


/*Header y nav*/
header {
  font-size: x-large;
  column-count: 1;
  padding-right: 20px;
}

header:hover {
  padding-top: 12px;
  position: relative;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}

header img {
  object-fit: cover;
}

nav, header {
  background-color: #FFC253;
  text-align: center;
}

ul.nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
}

#index {
  grid-column: 3/5;
}

#adoptar {
  grid-column: 5/7;
}

#instrucciones {
  grid-column: 7/9;
}

#contacto {
  grid-column: 9/11;
}

.logo {
  height: 40px;
}

/*Fuente*/
@font-face {
  font-family: "Coolvetica";
  src: url("../fuente/coolvetica/coolvetica_rg.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fuente/helvetica/HELVE7.TTF") format("truetype");
}

@media screen and (max-width: 2000px) and (orientation: portrait) {

  nav div ul {
    display: block;
    grid-template-columns: repeat(12, 1fr);
    text-align: center;
  }

  nav div ul li {
    grid-column: 1/13;
    border: solid;
  }

}