body{
    background-color: rgb(237,237,245);
    width: 100%;

}


header{
    background-color: rgb(255, 194, 83);
    height: 80px;
    text-align: center;
}
.nav-bar{
    border-radius: 10px;
    list-style: none;
}

nav{
    background-color: rgb(255, 194, 83);
}

ul li{
    display: inline;
    list-style-type: none;
    color: black;
    font-family: Coolvetica;
    padding-right: 10px;
}

.container-adoptar{
    width: 500px;
    height: 250px;
}

.container-adoptar2{
    width:500px;
    height: 250px;
}

.ventajas{
    column-count: 1;
}
.porque{
    column-count: 1;
}